<section id="main-view" class="main-view">
	<form class="input-wrapper">
		<a href="#/add" class="add-button" ng-click="add()" alt="add contact"></a>
		<input ng-model="contact.name" type="text" placeholder="contact names" class="contact-input">
		<a class="search-button" alt="search contacts"></a>
	</form> <!-- end input wrapper -->

	<!-- Start Contact List -->
	<div class="contact-list">
		<div class="contact-wrapper" ng-repeat="(id, contact) in contacts | filter:contact.name" ng-animate=" 'animate' ">
			<div class="avatar"></div>
			<div class="contact-info">
				<h2>{{contact.name}}</h2>
				<p class="about">{{contact.about}}</p>
			</div>
			<div class="hover-info">
				<a href="#/edit/{{id}}" alt="edit contact">
					<p class="number"><span class="phone-icon"></span>{{contact.number}}</p>
				</a>
				<div class="editing-icons">
					<a href="#/edit/{{id}}" alt="edit contact">
						<span class="edit-icon"></span>
					</a>
					<a href="#/remove/{{id}}" alt="remove contact">
						<span class="trash-icon"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
  <!-- loading spinner -->
  <div id="spinner-wrap">
    <div id="floatingCirclesG">
      <div class="f_circleG" id="frotateG_01">
      </div>
      <div class="f_circleG" id="frotateG_02">
      </div>
      <div class="f_circleG" id="frotateG_03">
      </div>
      <div class="f_circleG" id="frotateG_04">
      </div>
      <div class="f_circleG" id="frotateG_05">
      </div>
      <div class="f_circleG" id="frotateG_06">
      </div>
      <div class="f_circleG" id="frotateG_07">
      </div>
      <div class="f_circleG" id="frotateG_08">
      </div>
    </div>
  </div>
  <!-- End loading spinner -->

</section> <!-- END Main View -->
